**/*.DS_*
**/.gradle/*
output/*
build/*
local.properties
.idea/androidTestResultsUserPreferences.xml
.idea/appInsightsSettings.xml
.idea/assetWizardSettings.xml
.idea/caches/**
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/libraries/*
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/shelf/**
.idea/tasks.xml
.idea/workspace.xml
*.iml
captures/**
.vscode/**
.gradle/**
.kotlin/**
