**/*.DS_*
**/.gradle/*
output/*
build/*
local.properties
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/*
.idea/caches/**
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/androidTestResultsUserPreferences.xml
.idea/deploymentTargetSelector.xml
.idea/other.xml
*.iml
captures/**
.vscode/**
